

header {
        background: #4aaaa5;}

        header {
            background: #777777;}

            header {
                background: #ffffff;}

            header {
                background: #cccccc;}

                header {
                    background: #cccccc;}
    
                    header {
                        background: #666666;}
    
                        header {
                            background: #dddddd;}
    
   
    
    